<div class="row">
    <div class="col-xs-10">
        <h3>{{article.title}}</h3>
        <img ng-show="article.image" ng-src="{{article.image}}" class="img-responsive img-thumbnail" alt="image">
        <p>{{article.body}}</p>
    </div>
    <div class="col-xs-2">
        <button edit-article="article" class="btn btn-warning btn-lg btn-block"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        <button class="btn btn-danger btn-lg btn-block" ng-click="remove(article._id)"><span class="glyphicon glyphicon-remove"></span> Remove</button>
    </div>
</div>